# copy this file to `.env`

# timings: [number].[unit] (units: s, m, h, d)
CLIENT_TIMEOUT=30.s
SERVER_COOLDOWN=30.s
CHANGED_SYNC_INTERVAL=30.s
DB_SYNC_INTERVAL=1.h
FULL_QUERY_INTERVAL=1.d

SERVER_PORT=11814
SERVER_PIN=0

DB_PATH="./database"
DB_PATH_TEMP="./database.temp"
SERVER_FILE_PATH="./servers"

# optional:
# LOG_FILE_PATH=""
# LOG_LEVEL_FILE="info" # default: info
# LOG_LEVEL_TERM="warn" # default: debug: info, release: warn