{{#*inline "content"}}
<section id="connector_details">
  <h3>{{connector_data.connectors.0.name}}</h3>

  {{> connector_list connector_data}}
</section>
<hr>
</hr>
{{> machine_list machine_data}}
{{/inline}}
{{> (page.parent) }}