{{#*inline "content"}}
<section id="user_details">
  <h3>{{user_data.users.0.name}}</h3>

  {{> user_list user_data}}
</section>
<hr>
</hr>
{{> connector_list connector_data}}
{{/inline}}
{{> (page.parent) }}